@{
    ViewData["Title"] = "Projects";
}

<link rel="stylesheet" href="~/css/Projects/Index.css">

<div class="projects-container">
    @await Html.PartialAsync("_ProjectsSidebar")

    <div class="projects-content" id="projectsContent">
        <div class="welcome-message">
            <h2>Welcome to Projects</h2>
            <p>Select a project from the sidebar or create a new one to get started.</p>
        </div>
    </div>
</div>

@if (ViewBag.IsAdmin)
{
    @await Html.PartialAsync("_CreateProjectModal")
}

@await Html.PartialAsync("_TaskDetailsModal")
@await Html.PartialAsync("_CreateTaskModal")
@await Html.PartialAsync("_AddMembersModal")
@await Html.PartialAsync("_DeleteConfirmationModal")
@await Html.PartialAsync("_ManageMembersModal")
@await Html.PartialAsync("_EditProjectModal")

<div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>

@section Scripts {
    <script src="~/js/Projects/Index.js"></script>
} 