@model Beadando.Models.LoginViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/Account/Login.css" />
}

<h2 class="login-header"><strong>Login</strong></h2>

<form asp-action="Login" method="post" class="login-form">


    <div class="login-form-group">
        <label asp-for="Email" class="login-label"></label>
        <input asp-for="Email" class="form-control login-input" />
        <span asp-validation-for="Email" class="login-validation text-danger"></span>
    </div>
    <div class="login-form-group">
        <label asp-for="Password" class="login-label"></label>
        <input asp-for="Password" type="password" class="form-control login-input" />
        <span asp-validation-for="Password" class="login-validation text-danger"></span>
    </div>
    <div class="login-form-group login-rememberme">
        <input asp-for="RememberMe" id="rememberMe" />
        <label for="rememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
    </div>

    <div class="login-register-prompt">
        <span>Are you not registered? <a asp-controller="Account" asp-action="Register">Register</a></span>
    </div>

    <button type="submit" class="btn btn-primary login-button">Login</button>
    <div asp-validation-summary="ModelOnly" class="login-validation-summary text-danger"></div>
</form>
