@{
    ViewData["Title"] = "Select Favorite Team";
    var favoriteTeam = ViewBag.FavoriteTeam as Beadando.Models.Team;
}

@section Styles {
    <link rel="stylesheet" href="~/css/FavoriteTeam/Index.css" />
}
@section Scripts {
    <script src="~/js/FavoriteTeam/Index.js"></script>
}

<h1 class="select-favorite-team-header">Select Your Favorite Team</h1>

@if (favoriteTeam != null)
{
    <div class="select-favorite-team-alert">
        <strong>Your Favorite Team:</strong> @favoriteTeam.Name
    </div>
}

<div id="favoriteTeamForm" class="select-favorite-team-form-container">
    <div class="select-favorite-team-form-group">
        <label for="leagueSelect">Select League:</label>
        <select id="leagueSelect" class="form-control">
            <option value="">-- Select League --</option>
            @foreach (var league in ViewBag.Leagues as List<Beadando.Models.League>)
            {
                <option value="@league.Id">@league.Name</option>
            }
        </select>
    </div>

    <div id="teamsContainer" class="select-favorite-team-list-container mt-3"></div>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success favorite-team-success-message">
        @TempData["SuccessMessage"]
    </div>
}
